<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Order" />
                <binding name="Phone" />
                <binding name="User" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Order"
                binding="basicHttpBinding" bindingConfiguration="Order" contract="PhoneService.IOrder"
                name="Order" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Phone"
                binding="basicHttpBinding" bindingConfiguration="Phone" contract="PhoneService.IPhone"
                name="Phone" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/User"
                binding="basicHttpBinding" bindingConfiguration="User" contract="PhoneService.IUser"
                name="User" />
        </client>
    </system.serviceModel>
</configuration>